<div class="row maindiv">


    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <h2 class="card-header text-center">Sign Up</h2>
            
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label class="form-label"><b>Customer Name</b></label>
                        <input type="text" formControlName="customerName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['customerName'].errors }" />
                        <div *ngIf="submitted && f['customerName'].errors" class="invalid-feedback">
                            <div *ngIf="f['customerName'].errors['required']">Customer Name is required</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><b>Age</b></label>
                        <input type="text" formControlName="age" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['age'].errors }" />
                        <div *ngIf="submitted && f['age'].errors" class="invalid-feedback">
                            <div *ngIf="f['age'].errors['required']">Age is required</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><b>Address</b></label>
                        <input type="text" formControlName="address" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['address'].errors }" />
                        <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                            <div *ngIf="f['address'].errors['required']">Address is required</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><b>Contact</b></label>
                        <input type="text" formControlName="contact" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['contact'].errors }" />
                        <div *ngIf="submitted && f['contact'].errors" class="invalid-feedback">
                            <div *ngIf="f['contact'].errors['required']">Contact is required</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><b>Email</b></label>
                        <input type="text" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']">Email is required</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><b>Username</b></label>
                        <input type="text" formControlName="username" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                            <div *ngIf="f['username'].errors['required']">Username is required</div>
                        </div>
                    </div>

                    <div class="mb-3 ">

                        <label class="form-label"><b>Password</b></label>
                        <input type="{{(showPassword === false)?'password':'text'}}" formControlName="password"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                        <mat-icon matSuffix style="cursor: pointer;" (click)="toggleShowPassword()">
                            {{!showPassword?'visibility':'visibility_off'}}</mat-icon>
                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors['required']">Password is required</div>
                            <div *ngIf="f['password'].errors['pattern']">Incorrect password</div>
                        </div>
                    </div>
                    
                    <div class="card-footer d-flex">
                        <button class="btn btnLogin mx-auto">
                            <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span> -->
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 ">
        <h1 class="welcom">Welcome! <br> Hotel Garand</h1>
    </div>


</div>