.password{
    display: inline-block;
}
.card-header{
    color: #6b6e6b;
    background-color: black;
    font-weight: bold;
    
}
.btnLogin{
    background-color: #242724;
    color:white;
    font-weight: bold;
    padding: 10px;
    width: 250px;
    
    
}
.image01{
    height: 50% !important;
    width: 50% !important;
}


.maindiv{
    /* background-size: contain; */
    background-image: url("../../../assets/img/hotelLogin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
   max-width  :100vw !important; 
   max-height: 100vh !important;
}
.card{
    --bs-card-bg: rgba(192,192,192,0.5);
    height: 100vh;
    /* --bs-card-bg:#FFFFFF;
    opacity: 0.1; */
}
.form-label{
    color: #242724;
}
.welcom{
    color: #8a978a;
    font-weight: bold;
    text-align: center;
    font-size: 7vw;

    padding-top: 30vh;
}
.signup{
    display: inline;
}

.loginImg{
    width: 10vw;
    margin: auto;
}

.welcomeBar{
    height: 100vh
}