.ngx-datatable {
    border: 1px solid #dddddd;
    
  }
.customerlD{
    color: #13e41a;
    text-align: center;
    font-weight: bold;
}
.addCustomer{
    background-color: #07bb0d;
    border-color: #07bb0d;
    align-items:center;
    justify-content: center;
    color:white;
    font-weight: bold;
    float: right;
  }
  .btnEdit{
    background-color: #057909;
    border-color: #057909;
  }
  .btnDelete{
    background-color: #023d04;
    border-color: #023d04;
  }
  .btn-export{
    margin-top: 2vh;
    float: right;
  }