<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-2 col-md-3 col-xl-2 col-sm-3 col-xs-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <app-side-nav></app-side-nav>
            </div>

        </div>
        <div class="col-10 col-md-9 col-xl-10 col-sm-9 col-xs-10  bg-light">
            <div>
                <h1 class="HallD">Hall Details</h1>
            </div>
            <div class=" divHall">
                <button class="btn addHall" (click)="addHall()">Add Hall</button>
                
                <button mat-raised-button class="btn btn-primary btn-export"
              (click)="exporter.exportTable('xlsx', {fileName:'Hall Report', sheet: 'Hall Details'})"><i class="fas fa-file-excel"></i><b>Excel Export</b></button>
            </div>
            <br>
            <br>

            <mat-form-field>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
              </mat-form-field>
              
          
            <div class="mat-app-background dark-theme">
                <table mat-table [dataSource]="dataSource" matSort matTableExporter #exporter="matTableExporter">
            
                    <!-- ID Column -->
                    <ng-container matColumnDef="hallName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.hallName}} </td>
                      </ng-container>
            
                    <!-- ID Column -->
                    <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> price </th>
                      <td mat-cell *matCellDef="let row"> {{row.price}} </td>
                    </ng-container>
                
                    <!-- Progress Column -->
                    <ng-container matColumnDef="chairs">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Chairs </th>
                      <td mat-cell *matCellDef="let row"> {{row.chairs}} </td>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="tables">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> tables </th>
                      <td mat-cell *matCellDef="let row"> {{row.tables}} </td>
                    </ng-container>
                
                    <!-- Color Column -->
                    <ng-container matColumnDef="edit">
                      <th mat-header-cell *matHeaderCellDef > Edit </th>
                      <td mat-cell *matCellDef="let row" > <button class="btn btn-primary btnEdit" (click)="editHall(row)">Edit</button></td>
                    </ng-container>
            
                    <ng-container matColumnDef="delete">
                      <th mat-header-cell *matHeaderCellDef > Delete </th>
                      <td mat-cell *matCellDef="let row" > <button class="btn btn-danger btnDelete" (click)="deleteHall(row.id)">Delete</button></td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                  </table>
                
                  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>

           
        </div>
    </div>
</div>



