<div class="form-container">
    <h2 mat-dialog-title>Change Password</h2>
    <mat-dialog-content>
        <form [formGroup]="formpw">
            <mat-label>Current Password</mat-label>
            
            <div class="input-group col-6 mx-auto">
                <input [type]="showCurrentPassword ? 'text' : 'password'" 
                class="form-control pwd-control"  [ngClass]="{ 'is-invalid': submitted && f['currentpw'].errors }"
                placeholder="Enter Current Password" formControlName="currentpw" autocomplete="current-password">
                <div>
                    <i alt="show" class="far fa-eye eye-show" *ngIf="showCurrentPassword" (click)="showHideCurrentPassword()"
                        [class.hide]="showCurrentPassword"></i>
                    <i alt="hide" class="far fa-eye-slash eye-hide" *ngIf="!showCurrentPassword" (click)="showHideCurrentPassword()"
                        [class.hide]="!showCurrentPassword"></i>
                </div>
            </div>
            <div *ngIf="submitted && f['currentpw'].errors" class="invalid-feedback">
                <div *ngIf="f['currentpw'].errors['required']">Current Password is required</div>
            </div>

            <mat-label>New Password</mat-label>
            <div class="input-group col-6 mx-auto">
                <input [type]="showPassword ? 'text' : 'password'" 
                class="form-control pwd-control"  [ngClass]="{ 'is-invalid': submitted && f['newpw'].errors }"
                placeholder="Enter New Password" formControlName="newpw" autocomplete="new-password">
                <div>
                    <i alt="show" class="far fa-eye eye-show" *ngIf="showPassword" (click)="showHidePassword()"
                        [class.hide]="showPassword"></i>
                    <i alt="hide" class="far fa-eye-slash eye-hide" *ngIf="!showPassword" (click)="showHidePassword()"
                        [class.hide]="!showPassword"></i>
                </div>
            </div>
            <div *ngIf="submitted && f['newpw'].errors" class="invalid-feedback">
                <div *ngIf="f['newpw'].errors['required']">New Password is required</div>
                <div *ngIf="f['newpw'].errors['pattern']">Incorrect password</div>
            </div>

            <mat-label>Re-Type Password</mat-label>
            <div class="input-group col-6 mx-auto">
                <input name="password" [type]="showRePassword ? 'text' : 'password'" 
                class="form-control pwd-control"  [ngClass]="{ 'is-invalid': submitted && f['confirmpw'].errors }"
                    id="password-field" placeholder="Re-Enter New Password"  formControlName="confirmpw">
                <div>
                    <i alt="show" class="far fa-eye eye-show" *ngIf="showRePassword" (click)="showHideRePassword()"
                        [class.hide]="showRePassword"></i>
                    <i alt="hide" class="far fa-eye-slash eye-hide" *ngIf="!showRePassword" (click)="showHideRePassword()"
                        [class.hide]="!showRePassword"></i>
                </div>
            </div>
            <div *ngIf="submitted && f['confirmpw'].errors" class="invalid-feedback">
                <div *ngIf="f['confirmpw'].errors['required']">Re-Type Password is required</div>
                <div *ngIf="f['confirmpw'].errors['pattern']">Incorrect password</div>
            </div>


        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button class="btn btn-danger btn-submit" (click)="dialogRef.close(false)">
            Close
        </button>
        <button mat-raised-button class="btn btn-primary btn-submit" (click)="submit(formpw.value)">
            Submit
        </button>
    </mat-dialog-actions>
</div>