<!-- <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                
            </div>
        </div>
        
    </div>
</div> -->


<a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-5 d-none d-sm-inline">Hotel Grand</span>
</a>
<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

    <li>
        <a [routerLink]="['/admin/dashboard']"  class="nav-link px-0 align-middle">
            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>

    </li>
    <li>
        <a [routerLink]="['/admin/view-room']" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Rooms</span>
        </a>
        
    </li>
    <li>
        <a [routerLink]="['/admin/view-hall']" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Event Hall</span>
        </a>
       
    </li>
    <li>
        <a [routerLink]="['/admin/view-meal']" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Meals</span> 
        </a>
        
    </li>
    <li>
        <a [routerLink]="['/admin/view-staff']" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Staff</span> 
        </a>
        
    </li>
    <li>
        <a href="#submenu5" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">View Order</span> </a>
        <ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
            

        </ul>
    </li>
</ul>
<hr>
<div class="dropdown pb-4">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
        <span class="d-none d-sm-inline mx-1 admin">Admin</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
       
        <li><a class="dropdown-item admin" href="#">Profile</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item admin" href="#">Sign out</a></li>
    </ul>
</div>
