.pendingOrderData{
    margin-bottom: 5vh;
    border: solid 1px green;
}

.orderStatus{
    background-color: green;
    color: white;
}

.orderwarning{
    background-color: rgb(12, 233, 12);
}
.HallD{
    text-align: center;
    color: #07bb0d;
}
.nav-link{
    color: green;
}