.meal{
    color: #121a01;
    font-style: italic;
}
.meal-booking{
  margin-bottom: 30px;
}
.mealDetail{
    color: #0df164e3;
    font-weight: bold;
}
.mealDetail01{
    color: #02491ce3;
    font-weight: bold;
}

.btnView{
    color: #FFFFFF;
    background-color: #01200de3 !important;
    border-color: #01200de3 !important;
}
.btnEdit{
    color: #FFFFFF;
    background-color: #01200de3 !important;
    border-color: #01200de3 !important;
}
.mealTable{
    width: 500px;
}
.card {
    width: 500px;
}

.mealImg{
    width: 300px;
    height: 300px;
}