.topic {
    color: #86B817;
}

.room {
    color: #121a01;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

.room-booking {
    margin-top: 5vh;
    margin-bottom: 30px;
}

.roomDetail {
    color: #0df164e3;
    font-weight: bold;
}

.roomDetail01 {
    color: #02491ce3;
    font-weight: bold;
}

.hall {
    color: #121a01;
    font-style: italic;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

.hall-booking {
    margin-bottom: 30px;
}

.hallDetail {
    color: #0df164e3;
    font-weight: bold;
}

.hallDetail01 {
    color: #02491ce3;
    font-weight: bold;
}

.btnView {
    color: #FFFFFF;
    background-color: #01200de3 !important;
    border-color: #01200de3 !important;
    float: right;
    font-size: 12px;  
}

.btnEdit {
    color: #FFFFFF;
    background-color: #01200de3 !important;
    border-color: #01200de3 !important;
}

.card {
    padding: 8px;
}

.booked-heading {
    height: 50px;
    width: 100vW;
    background-color: #0df164e3;
}

.diningarea {
    background-color: white !important;
    height: 100%;
    margin-top: 5vh;
    margin-bottom: 30px;
}

.diningImg {
    height: 200px;
}

.myOrderData{
    margin-bottom: 5vh;
    border: solid 1px black;
}

.n-a-area{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

