<div class="container">
  <div class="row">
    <h1 class="topic text-center"><b>My Booking</b></h1>
    <div class="room-booking">
      <h3 class="room"><b>Room</b></h3>
      <div class="col">
        <div class="card shadow-sm col-lg-4 col-md-6 col-sm-12">

          <img src="../../../assets/img/room/room-1.jpg">
          <div class="card-body">

            <table class="roomTable ">
              <tr>
                <td><label class="roomDetail">Type -></label></td>
                <td><label class="roomDetail01">Room</label></td>
              </tr>
              <tr>
                <td><label class="roomDetail">Checkin Date -></label></td>
                <td><label class="roomDetail01">2024-10-16</label></td>
              </tr>
              <tr>
                <td><label class="roomDetail">Checkout Date -></label></td>
                <td><label class="roomDetail01">2024-10-18</label></td>
              </tr>
              <tr>
                <td><label class="roomDetail">Room Name -></label></td>
                <td><label class="roomDetail01">Standard Single</label></td>
              </tr>
              <tr>
                <td><label class="roomDetail">Price -></label></td>
                <td><label class="roomDetail01">$150</label></td>
              </tr>
            </table>

            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btnView">View</button>
                <button type="button" class="btn btnEdit">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="hall-booking">
      <h3 class="hall">Hall</h3>
      <div class="col">
        <div class="card shadow-sm col-lg-4 col-md-6 col-sm-12">
          <img src="../../../assets/img/Hall/Hall01.jpg">
          <div class="card-body">
            <table>
              <tr>
                <td><label class="hallDetail">Type -></label></td>
                <td><label class="hallDetail01">Hall</label></td>
              </tr>
              <tr>
                <td><label class="hallDetail">Booking Date -></label></td>
                <td><label class="hallDetail01">2024-10-16</label></td>
              </tr>

              <tr>
                <td><label class="hallDetail">Hall Name -></label></td>
                <td><label class="hallDetail01">Babylon’s Court</label></td>
              </tr>
              <tr>
                <td><label class="hallDetail">Price -></label></td>
                <td><label class="hallDetail01">$400</label></td>
              </tr>
            </table>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btnView">View</button>
                <button type="button" class="btn btnEdit">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>