<app-header></app-header>
<div class="container-fluid bg-secondary py-5 mb-5">
  <div class="row py-5">
    <div class="bookingArea">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [class.active]="isActiveFutureBookings" (click)="activateFutureBookings()"
            aria-current="page"><b>Active Room Bookings</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [class.active]="isActiveBookingHalls" (click)="activatehallBookings()"><b>Hall
            Bookings</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [class.active]="isActiveAllBookings" (click)="activateAllBookings()"><b>All Bookings</b></a>
        </li>
      </ul>

      <div class="row" *ngIf="isActiveFutureBookings">
        <div class="card shadow-sm col-lg-4 col-md-4 col-sm-6 col-12 px-2" *ngFor="let booking of bookingRooms">

          <img [src]="booking.img">
          <div class="card-body">

            <table class="roomTable ">
              <tr>
                <td><label class="roomDetail">Room Name -></label></td>
                <td><label class="roomDetail01">{{booking.roomName}}</label></td>
              </tr>
              <tr>
                <td><label class="roomDetail">Checkin Date -></label></td>
                <td><label class="roomDetail01">{{booking.checkIn}}</label></td>
              </tr>
              <tr>
                <td><label class="roomDetail">Checkout Date -></label></td>
                <td><label class="roomDetail01">{{booking.checkOut}}</label></td>
              </tr>
              <tr>
                <td><label class="roomDetail">Room Number -></label></td>
                <td><label class="roomDetail01">{{booking.roomNo}}</label></td>
              </tr>
              <tr>
                <td><label class="roomDetail">Price -></label></td>
                <td><label class="roomDetail01">LKR. {{booking.price}}</label></td>
              </tr>
            </table>

            <div class="d-flex justify-content-between align-items-center">
              <small class="text-body-secondary">Created : {{booking.date}}</small>
              <button type="button" class="btn btnView" (click)="confirm(booking.id,'room')">Cancel Booking</button>
            </div>
          </div>
        </div>
      </div>

      <!-- hall booking  -->
      <div class="row" *ngIf="isActiveBookingHalls">
        <div class="card shadow-sm col-lg-4 col-md-4 col-sm-6 col-12 px-2" *ngFor="let booking of bookingHalls">
          <img [src]="booking.img">
          <div class="card-body">
            <table>
              <tr>
                <td><label class="hallDetail">Hall Name -></label></td>
                <td><label class="hallDetail01">{{booking.hallName}}</label></td>
              </tr>
              <tr>
                <td><label class="hallDetail">Booking Date -></label></td>
                <td><label class="hallDetail01">{{booking.bookedDate}}</label></td>
              </tr>
              <tr>
                <td><label class="hallDetail">Price -></label></td>
                <td><label class="hallDetail01">LKR. {{booking.price}}</label></td>
              </tr>
            </table>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-body-secondary">Created : {{booking.date}}</small>
              <button type="button" class="btn btnView" (click)="confirm(booking.id,'hall')">Cancel Booking</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- all booking -->
    <div *ngIf="isActiveAllBookings">
      <mat-form-field class="searchFilter">
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
      </mat-form-field>
      <div class="mat-app-background dark-theme">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Progress Column -->
          <ng-container matColumnDef="roomName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Room Name </th>
            <td mat-cell *matCellDef="let row"> {{row.room.roomName}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="roomNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Room No </th>
            <td mat-cell *matCellDef="let row"> {{row.room.roomNo}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="checkIn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Check In </th>
            <td mat-cell *matCellDef="let row"> {{row.checkIn}} </td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="checkOut">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Check Out </th>
            <td mat-cell *matCellDef="let row"> {{row.checkOut}} </td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let row"> {{row.total}} </td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row">
              <button class="btn btn-primary btnEdit" *ngIf="row.status=='Pending'" (click)="confirm(row.id,'room')">Cancel</button>
                <button class="btn btn-primary btnEdit" *ngIf="row.status!='Pending'"  disabled>{{row.status}}</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
          [showFirstLastButtons]="true"></mat-paginator>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>