<app-header></app-header>
<div class="container-fluid bg-secondary py-5 mb-5">
  <div class="row py-5">
    <div class="room-booking">

      <div class="booked-heading d-flex align-items-center">
        <h3 class="room py-2"><b>My Booked Rooms</b></h3>
      </div>
      <div class="row">
        <div class="card shadow-sm col-lg-4 col-md-4 col-sm-6 col-12 px-2" *ngFor="let booking of bookingRooms">

          <img [src]="booking.img">
          <div class="card-body">

            <table class="roomTable ">
              <tr>
                <td><label class="roomDetail">Room Name -></label></td>
                <td><label class="roomDetail01">{{booking.roomName}}</label></td>
              </tr>
              <tr>
                <td><label class="roomDetail">Checkin Date -></label></td>
                <td><label class="roomDetail01">{{booking.checkIn}}</label></td>
              </tr>
              <tr>
                <td><label class="roomDetail">Checkout Date -></label></td>
                <td><label class="roomDetail01">{{booking.checkOut}}</label></td>
              </tr>
              <tr>
                <td><label class="roomDetail">Room Number -></label></td>
                <td><label class="roomDetail01">{{booking.roomNo}}</label></td>
              </tr>
              <tr>
                <td><label class="roomDetail">Price -></label></td>
                <td><label class="roomDetail01">LKR. {{booking.price}}</label></td>
              </tr>
            </table>

            <div class="d-flex justify-content-between align-items-center">
              <small class="text-body-secondary">Created : {{booking.date}}</small>
              <button type="button" class="btn btnView" (click)="confirm(booking.id,'room')">Cancel Booking</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="hall-booking">
      <div class="booked-heading d-flex align-items-center">
        <h3 class="hall">My Booked Halls</h3>
      </div>

      <div class="row">
        <div class="card shadow-sm col-lg-4 col-md-4 col-sm-6 col-12 px-2" *ngFor="let booking of bookingHalls">
          <img [src]="booking.img">
          <div class="card-body">
            <table>
              <tr>
                <td><label class="hallDetail">Hall Name -></label></td>
                <td><label class="hallDetail01">{{booking.hallName}}</label></td>
              </tr>
              <tr>
                <td><label class="hallDetail">Booking Date -></label></td>
                <td><label class="hallDetail01">{{booking.bookedDate}}</label></td>
              </tr>
              <tr>
                <td><label class="hallDetail">Price -></label></td>
                <td><label class="hallDetail01">LKR. {{booking.price}}</label></td>
              </tr>
            </table>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-body-secondary">Created : {{booking.date}}</small>
              <button type="button" class="btn btnView" (click)="confirm(booking.id,'hall')">Cancel Booking</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>