<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-2 col-md-3 col-xl-2 col-sm-3 col-xs-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <app-side-nav></app-side-nav>
            </div>
        </div>
        <div class="col-10 col-md-9 col-xl-10 col-sm-9 col-xs-10  bg-dark">
            <div class="wrapper">
                <div class="cards-container">
                    <!-- Card 1 -->
                    <app-admin-card title="Total Bookings" [value]="totalBooking" iconName="allBooking"></app-admin-card>

                    <!-- Card 2 -->
                    <app-admin-card title="Active Bookings" [value]="activeBooking" iconName="activeBooking"></app-admin-card>

                    <!-- Card 3 -->
                    <app-admin-card title="Active Orders" [value]="activeOrders" iconName="orders"></app-admin-card>

                    <!-- Card 4 -->
                    <app-admin-card title="Staff Members" [value]="staffMembers" iconName="staff"></app-admin-card>
                </div>

                <div class="applications-section">
                    <h1>Current Order Status</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels"
                                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                            </canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas baseChart width="400" height="400" [type]="'line'" [data]="lineChartData"
                                [options]="lineChartOptions" [legend]="lineChartLegend">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>