


<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-2 col-md-3 col-xl-2 col-sm-3 col-xs-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <app-side-nav></app-side-nav>
            </div>
        </div>
        <div class="col-10 col-md-9 col-xl-10 col-sm-9 col-xs-10  bg-dark">
            <div class="wrapper">
                <div class="cards-container">
                    <!-- Card 1 -->
                    <app-admin-card title="Budget" [value]="750.9" change="13%" iconName="budget"></app-admin-card>
    
                    <!-- Card 2 -->
                    <app-admin-card title="New Projects" [value]="215" change="30%" iconName="project"></app-admin-card>
    
                    <!-- Card 3 -->
                    <app-admin-card title="Total hours" [value]="1400" change="-5%" iconName="clock"></app-admin-card>
    
                    <!-- Card 4 -->
                    <app-admin-card title="Work load" [value]="95" change="10%" iconName="briefcase"></app-admin-card>
                </div>
    
                <div class="applications-section">
                    <h1>Applications</h1>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Company</th>
                            <th>Offer</th>
                            <th>Meeting</th>
                            <th></th>
                        </tr>
                        <!-- ... (more HTML code) ... -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>