.btn-export{
    float: right;
    background-color: #07bb0d;
    border: #07bb0d;
}
.staffD{
    text-align: center;
    color: green;
}
.btnEdit{
    background-color: #07bb0d;
    border: #07bb0d;
}

